body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(https://images.pexels.com/photos/1287142/pexels-photo-1287142.jpeg?cs=srgb&dl=pexels-eberhard-grossgasteiger-1287142.jpg&fm=jpg);
    background-size: cover;
    font-family: sans-serif;
}

.btn {
    background-color: black;
    color: white;
    padding: 2.5em 2.5em;
    border-radius: 20%;
    box-shadow: 0em 0.4em 0.2em rgba(0, 0, 0, 0.418);
    text-decoration: none;
    position: relative;
    overflow: hidden;
}

.btn span {
    position: relative;
    z-index: 1;
    font-size: large;
    transition:0.5s;
}

.btn:hover {
    color: black;
}

.btn::before {
    content: "";
    position: absolute;
    background-color:red;
    width: 0;
    height: 0;
    left: var(--xPos);
    top: var(--yPos);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    transition: width 0.7s, height 0.7s;
}

.btn:hover::before {
    width: 30em;
    height: 20em;
}