body {
    margin: 0;
    padding: 0;
    font-family: cursive;
}

h1 {
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.color-container {
    background-color: orange;
    width: 20em;
    height: 10em;
    color: white;
    margin: 0.3em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    text-shadow: 0.2em 0.2em 0.3em rgba(0, 0, 0, .8);
    border: double black 0.3em;
    border-radius: 10%; 
}